<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(#);">
  <%= image_tag "logo.png", class: "banner-logo" %>
  <div class="container">
    <h1>Chrysalis</h1>
    <p>Achieve goals, build habits, stay on track and become a better you today</p>
  </div>
</div>
<div class="container py-5">
  <h2 class="text-center">Sign up</h2>
  <div class="container col-7">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%#= image_tag "user.png", class: "login-icon" %>
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <%#= image_tag "padlock.png", class: "login-icon" %>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions text-center pt-3">
        <%= f.button :submit, "Sign up", class: "btn btn-dark" %>
      </div>
    <% end %>
    <div class="text-center pt-3 pb-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
