<div class='container my-5'>
  <div class="container">
    <h1><strong>Emotions Calendar</strong></h1>
    <button type="button" class="btn btn-light btn-light-emotion" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add your emotion for today
    </button>
    <h5 class="pb-3">Here you can see your mental health mapped out in a calendar and colour coded.</h5>
    <p>Try and keep an eye on the pattern regularly. If you've not been feeling great, then make sure to adjust your goals for the day. The better you feel, the more you should try and achieve. But, if you're on a down day or week, take it easy and try and set goals that are achievable for you.</p>
  </div>
</div>
<div class="box-wrapper py-3">
  <%= image_tag "sad (1).png", alt: "text", class: "emotion-icon" %>
  <div class="boxes">
    <div class="emotion-box emotion-1"></div>
    <div class="emotion-box emotion-2"></div>
    <div class="emotion-box emotion-3"></div>
    <div class="emotion-box emotion-4"></div>
    <div class="emotion-box emotion-5"></div>
    <div class="emotion-box emotion-6"></div>
    <div class="emotion-box emotion-7"></div>
  </div>
  <%= image_tag "smile.png", alt: "text", class: "emotion-icon" %>
</div>
<div class="container py-5 mb-5">
  <div class="calendar">
    <%= month_calendar(attribute: :created_at, events: @emotions) do |date, emotions| %>
      <div class="calendar-content emotion-<%= emotions.first.emotion_level if emotions.any? %>">
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">How are you feeling today?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for @emotion do |f| %>
        <div class="modal-body">
          <div class="position-relative" >
            <div class ="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <img src="https://www.mychrysalis.me/assets/sad%20(1)-ed0008707da5bf14bcfa1f34159c5cfc2e981d17f2ba88dc8420b351e9159626.png" alt="" width = 45px>
                <p class="mb-0 px-3">It's not a good day</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="mb-0 px-3">I feel positive</p>
                <img src="https://www.mychrysalis.me/assets/smile-495bed1bbba9650b6ff0c425b9d52538d7d6df3434602bc486016cb2fe6ae001.png" alt="" width = 45px>
              </div>
            </div>
            <%= f.input :emotion_level, as: :range, input_html:{ min:"1", max:"7"}, label: false %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Back</button>
          <button type="submit" class="btn btn-flat-save">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
