<div class="container pt-3">
  <div class="container text-center">
    <h1><strong>Find articles to help you and resources near you</strong></h1>
  </div>
</div>
<div class="row">
  <div class="col-6 pt-5 mx-5 pb-5">
    <div class="text-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag "open-book.png", class: "articles-icon" %>
        <h3 class="px-3 m-0">Read more to learn more</h3>
      </div>
    </div>
    <div class='container cards'>
      <% @articles.each do |article| %>
        <div class="card-trip mb-5">
          <%= image_tag article.image_url, alt: article.title %>
          <div>
            <div class="card-trip-infos">
              <div>
                <h2 class="d-inline-block"><strong><%= article.title %></strong></h2>
                <p class='mb-2'><strong>By <%= article.author %></strong></p>
                <%= link_to "", article.url, class: "card-link" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-5 pt-5">
    <div class="text-center pb-3">
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag "social-care.png", class: "articles-icon" %>
        <h3 class="px-3 m-0">Resources for you</h3>
      </div>
      <p class="pt-4 pb-2">It's important to know that you are <strong>not alone</strong> and that there are places that will help you in person when you are ready for that next step. Check out the map below for resources nearby.</p>
      <p>Find services that can with help with finances, getting back into work, and professional mental health advice.</p>
    </div>
    <%= render "pages/map" %>
    <%# Iterate over the resources in the db and write an unordered list with the details %>
    <ul class="py-5 px-5 text-center">
      <h4><strong>Details</strong></h4>
      <% @locations.each do |location| %>
        <li class="resource-card my-3 py-2">
          <h6><%= location.name %></h6>
          <p><%= location.address %></p>
          <p></strong><%= location.phone_number %></p>
        <p class="resource-link"><i class="fa-solid fa-arrow-up-right-from-square"></i>  <strong><%= link_to "Website", location.url %></strong></p>
      </li>
    <% end %>
  </ul>
</div>
</div>
