<%# For the checkboxes on the dashboard %>
<%= simple_form_for goal do |f| %>
  <% if goal.done? %>
    <%= f.input :status, as: :hidden, input_html: { value: 'active'} %>
  <% else %>
    <%= f.input :status, as: :hidden, input_html: { value: 'done'} %>
  <% end %>
  <div class="checkbox-animation">
    <input type="checkbox" id="todo" name="todo" value="todo" onchange="edit_user_goal_<%= goal.id %>.submit()">
    <label class="align-middle" for="todo" data-content="<%= goal.description %>"><%= goal.description %></label>
  </div>
<% end %>
