<% @user_goals.first(5).each do |description, user_goals| %>
  <%= description %>
  <div class="progress" style="height: 50px; width: 500px;">
    <% done = user_goals.count(&:done?) %>
    <% total = user_goals.count %>
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example" style="width: <%= (done/total.to_f) * 100 %>%" aria-valuenow=<%= %> aria-valuemin="0" aria-valuemax="<%= total %>"><%= done %> / <%= total %></div>
  </div>
<% end %>
