<div class="jumbotron jumbotron-fluid text-left dash-bg-color pb-4">
  <div class="container col-7">
    <%= image_tag "logo.png", class: "dashboard-logo" %>
    <h1 class="display-4 dash-h1"><strong>Hello, <%= current_user.first_name %></strong></h1>
    <h3 class="lead dash-h3">Welcome back!</h3>
  </div>
</div>
<div class="row">
  <div class="col py-5">
    <%= image_tag "calendar.png", class: "dash-icon" %>
    <h2 class="dashboard-h2 text-left p-5">This month</h2>
  </div>
  <div class="col py-5">
    <%= image_tag "target.png", class: "dash-icon" %>
    <h2 class="dashboard-h2 text-left p-5">Your goals for today</h2>
  </div>
  <div class="w-100"></div>
  <div class="col py-5">
    <%= image_tag "article.png", class: "dash-icon" %>
    <h2 class="dashboard-h2 text-left p-5">Newest article</h2>
  </div>
  <div class="col py-5">
    <%= image_tag "success.png", class: "dash-icon" %>
    <h2 class="dashboard-h2 text-left p-5">Goals you have accomplished</h2>
  </div>
</div>
