<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/132076/pexels-photo-132076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <%#= image_tag "logo.png", class: "banner-logo" %>
  <div class="container">
    <h1>Chrysalis</h1>
    <p>Achieve goals, build habits, stay on track and become a better you today</p>
    <%# Change the button colour %>
    <%= link_to "Get started", dashboard_path, class: "btn btn-flat rounded mt-2" %>
  </div>
</div>
<div class="middle-content">
  <div class="container">
    <h2>How we've helped</h2>
    <p>Across the country, we have supported thousands of people to integrate back into society through actionable steps. Become a success story and start your journey with Chrysalis today.</p>
    <%= render "pages/review_cards" %>
  </div>
</div>
<div class="middle-content" style="background-color: #EBF4E2;">
  <div class="container">
    <h2>How does it work?</h2>
    <p>It's difficult to hold yourself accountable when you are not in the habit of keeping track of what you are doing and what you want to achieve. At Chrysalis, we provide you with that platform so that you can <strong>visually</strong> see your progress and improvements day by day and how much you have accomplished in the long term.</p>
    <p>By setting small daily goals for yourself and achieving them step by step you can reach the top of the mountain which once seemed impossible.</p>
    <%= render "pages/how" %>
  </div>
</div>
<%# Quote %>
<div class="container py-3 my-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 col-xl-7">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <div class="text-center mb-4 pb-2">
            <%= image_tag "butterfly.png", class: "butterfly-icon" %>
          </div>
          <figure class="text-center mb-0">
            <blockquote class="blockquote">
              <p class="pb-3">
                <i class="fas fa-quote-left fa-xs text-success"></i>
                <span class="lead font-italic">Set a goal that makes you want to jump out of bed in the morning.</span>
                <i class="fas fa-quote-right fa-xs text-success"></i>
              </p>
            </blockquote>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-content">
  <div class="container">
    <h3>Start working on you today</h3>
    <%# Change the button colour %>
    <%= link_to "Get started", dashboard_path, class: "btn btn-flat-start rounded mt-2" %>  </div>
</div>
<div class="middle-content" style="background-color: #EBF4E2;">
  <div class="container">
    <h4>We want to help you find happiness in the outside world.</h4>
    <%= image_tag "world.png", class: "landing-icon pt-3" %>
  </div>
</div>
