<%= render "pages/banner" %>
<div class="container py-5">
  <h2 class="text-center">Welcome back!</h2>
  <div class="container col-7">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%#= image_tag "user.png", class: "login-icon" %>
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%#= image_tag "padlock.png", class: "login-icon" %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions text-center pt-3">
        <%= f.button :submit, "Log in", class: "btn btn-dark" %>
      </div>
    <% end %>
    <div class="text-center pt-3 pb-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
