<div class="container">
  <div class="journal-title-wrapper">
    <div class="journal-titles mt-5">
      <h1><strong>Your journals</strong></h1>
      <h5>Add a new journal and write about your day. Read back your past journals to see how much you have improved.</h5>
    </div>
    <div class="mt-5">
      <%= link_to "Add a journal", new_journal_path, class: "btn btn-light" %>
    </div>
  </div>
  <div class="journals">
    <div class="container d-flex justify-content-center mt-5">
      <div class="px-4 mb-5">
        <ul class="list-inline tabs-underlined">
          <li>
            <a href="#" class="tab-underlined active"><%= Date.today.year %></a>
          </li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Month
            </button>
            <ul class="dropdown-menu">
              <% Date::MONTHNAMES[1..-1].each do |month| %>
                <li>
                  <%= link_to month, journals_path(month: month), class:"dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </div>
          <li style="font-weight: bold">
            <%= params[:month] %>
          </li>
        </ul>
        <div>
          <% if @journals.any? %>
            <div class="journal-box mt-5 px-4 py-2">
              <% @journals.each do |journal| %>
                <div class="journal d-flex justify-content-between">
                  <span class="d-inline-block text-truncate" style="max-width: 600px;">
                    <%= link_to journal.title, journal_path(journal), class: "journal-link" %>
                  </span>
                  <%= journal.created_at.strftime('%A %d %H:%M%p') %>
                </div>
              <% end %>
            <% else %>
              <h5 class="mt-5 pt-5 text-center">You didn't add any journals for this month!</h5>
              <p class="mt-2 pt-2 text-center">Make sure to add journals regularly</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
