<div class='container py-5 col-8'>
  <%= image_tag "journal.png", class: "journal-icon" %>
  <h2><%= @journal.title %></h2>
  <hr>
</div>
<div class='container mb-5 pb-5'>
  <div class='container d-flex justify-content-center'>
    <div class="content-wrapper">
      <h6 class="mb-3"><%= @journal.created_at.strftime('%A %d %I:%M%p') %></h6>
      <p>
        <% if @journal.content %>
          <%= @journal.content %>
        <% else %>
          <%= @journal.rich_content %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="container text-center">
    <%= link_to "Back", journals_path, class: "btn btn-light" %>
  </div>
</div>
