<div class="container progress-card mt-5">
  <div class="container mb-5 col-8">
    <div class="container">
      <%= image_tag "check-mark.png", class: "progress-icon" %>
      <h1><strong>My progress</strong></h1>
      <div class="index-paragraph-wrapper mb-5 pt-3">
        <h5>Keep track of the goals you have accomplished</h5>
        <%= link_to "Add a goal", new_user_goal_path, class: "btn btn-flat-save" %>
      </div>
      <%# Iterating over a hash. The keys are all unique descriptions and the values are the user_goals for that description %>
      <% @user_goals.each_with_index do |(description, user_goals), index| %>
        <%# if user_goal.status == "done" %>
        <div class="description">
          <%= description %>
        </div>
        <div class="progress mb-5">
          <% done = user_goals.count(&:done?) %>
          <% total = user_goals.count %>
          <div class="progress-bar progress-bar-striped progress-bar-<%= @colors[index % 4] %>" role="progressbar" aria-label="Default striped example" style=" color: black; width: <%= (done/total.to_f) * 100 %>%" aria-valuenow=<%= %> aria-valuemin="0" aria-valuemax="<%= total %>"><%= done %> / <%= total %></div>
        </div>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
