<div class="container pt-5">
  <h1>Set your daily objective</h1>
  <h6 class="py-3">Write a custom goal and/or select a suggested goal from the list below. If you want to give yourself a challenge, select more than one goal for the day!</h6>
  <hr>
  <%= simple_form_for @user_goal do |f| %>
    <fieldset class="form-group check_boxes optional user_goal_tags">
      <legend class="col-form-label py-4 text-center">Your custom goal</legend>
      <%= text_field_tag "user_goal[descriptions][]", nil, class: "form-control", placeholder: 'E.g. Go grocery shopping' %>
      <legend class="col-form-label pt-5 pb-4 text-center">Suggested goals for you</legend>
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <% @goals.each_with_index do |(goal), index| %>
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="<%= goal %>" name="user_goal[descriptions][]" id="user_goal_descriptions_<%= goal %>">
            <label class="form-check-label collection_check_boxes <%= @colors[index % 4] %>" for="user_goal_descriptions_<%= goal %>"><%= goal %></label>
          </div>
        <% end %>
      </div>
    </fieldset>
    <div class="py-5 text-center">
      <%= link_to "Back", dashboard_path, class: "btn btn-light my-3 mx-4 px-4" %>
      <%= f.button :submit, "Save", class: "btn btn-flat-save my-4 mx-4 px-4" %>
    </div>
  <% end %>
</div>
